In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('newark_flights.csv')
aircraft_list = list(df['TAIL_NUMBER'].unique())
aircraft_list = list(map(lambda x: str(x)[1:], aircraft_list))
len(aircraft_list)

2928

In [32]:
rego = pd.read_csv('registration.txt')
rego.shape

(437916, 35)

In [33]:
rego.columns

Index(['N-Number', 'Serial Number', 'AircraftMFRModelCode', 'Engine MFR Code',
       'Year Mfr', 'Type Registrant', 'Name', 'Street1', 'Street2', 'City',
       'State', 'ZIP', 'Region', 'County', 'Country', 'LastActivity Date',
       'CertIssueDate', 'Certification Requested', 'TypeAcft', 'Type Engine',
       'StatusCode', 'Mode S Code', 'Fractional Ownership',
       'Airworthiness Date', 'Other Name 1', 'Other Name 2', 'Other Name 3',
       'Other Name 4', 'Other Name 5', 'Expiration Date', 'UniqueID',
       'Kit MFR Code', 'Kit Model', 'Mode S Code Hex', 'Unnamed: 34'],
      dtype='object')

In [34]:
# Clean up data
newark_rego = rego[rego['N-Number'].isin(aircraft_list)]
blank = '        '
newark_rego = newark_rego.drop(newark_rego[newark_rego['Airworthiness Date']==blank].index)
keep_columns = ['N-Number', 'Airworthiness Date']
newark_rego = newark_rego[keep_columns]
newark_rego['N-Number'] = newark_rego['N-Number'].apply(lambda row: ('N' + str(row)).strip())
newark_rego['Registered'] = pd.to_datetime(newark_rego['Airworthiness Date'])
newark_rego.drop('Airworthiness Date', axis=1, inplace=True)

In [36]:
newark_rego.head()

     N-Number Registered
48     N438WN 2003-07-21
400    N68061 2002-03-08
646    N914UY 2014-11-07
901    N446UA 1998-07-02
1542   N18120 2005-02-25

In [35]:
# Export as CSV
newark_rego.to_csv('newark_plane_reg.csv')